* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #ff00cc;
  background: #40e0d0; */
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
}
.player.imgbox {
  position: relative;
  width: 100%;
  height: 50px;
}
/* .player.imgbox img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.player audio {
  width: 300%;
} */
img {
  margin-left: 35px;
  border-radius: 2rem;
  border: 5px solid rgb(3, 32, 4);
  margin-bottom: 10px;
}
/* h1 {
  border: 1px solid red;
  border-radius: 2rem;
  background-image: linear-gradient(130deg, red, blue, black, yellow, purple);
  font-size: 20px;
  color: white;
  padding: 5px;
} */
h2:hover {
  transform: scale(110%) rotate(-2deg);
}
h2 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-image: linear-gradient(130deg, red, blue, black, yellow, purple);
  font-size: 25px;
  margin: 2px;
  color: rgb(185, 56, 56);
}
h1 {
  padding: 5px;
  color: rgb(160, 218, 27);
  font-size: 15px;
  /* border: 1px solid rgb(255, 0, 55); */
  border-radius: 2rem;
  background-image: linear-gradient(
    130deg,
    yellow,
    black,
    green,
    blue,
    red,
    maroon
  );
}
h1:hover {
  transform: scale(110%) rotate(-3deg);
}
img {
  height: 200px;
  width: 200px;
}
.player {
  margin: 20px;
}
